/* .forms {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    padding-top: 5rem;
    padding-bottom: 5rem;

    width: 30rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
} */